:root {
    --nadpis-1: #009999; 
    --backround-card: rgb(255, 255, 255);
    --border-card: rgb(255, 255, 255);
    --background-galery: rgb(206, 202, 202);
    --background-html: rgb(206, 202, 202);
    --head-color: #009999;
    --price: #FF6633;
    --green: #339900;
    --shoping-card: #009999;
    --card-text:#797979;
}


html{
    background-color: var(--background-html);  
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.galery{
    margin-left: -5px;
    margin-right: -5px;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-galery); 
 
    justify-content: center;
}

.card{
    background-color: var(--backround-card);
    max-width: 20em;
    height: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid var(--border-card);
    display: flex;
    flex-wrap: wrap;
}

.card__head > h2{
    text-align: left;
    font-size: 15px;
    color: var(--nadpis-1);
    margin-left: 1em;
}

.ard__content__text{
    font-size: 12px;
    max-height: 51px;
    line-height: 17px;
    color: var(--card-text);
    overflow: hidden;
    padding-bottom: 1em;
}

.card__content{
    padding-left: 1em;
    padding-right: 1em;
}

.card__content__img{
    max-width: 100%;
    height: auto;   
}

.img-responsive {
    object-fit: cover; 
    max-width: 100%;
    height: auto;
}

.card__footer{
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;  
    flex-wrap: nowrap;


}

.card__footer_price{
    color: var(--price);
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;

}

.icons-bordred{
    position: absolute;
    right: -9em;
    bottom: 2em;
    border: 8px solid var(--shoping-card);
    background-color: var(--shoping-card);
    border-radius: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.card__footer__button{
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;  
}

.card__footer__availability{
    font-size: 9px;
    color: var(--green);
    position: absolute;
}
